n8n/EDNS_Core_Pipeline_v1.4.json
{
  "name": "EDNS_Core_Pipeline_v1.4",
  "nodes": [
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=supply+chain"
      },
      "id": "node-01-sense-rss",
      "name": "RSS Trigger (Sense)",
      "type": "n8n-nodes-base.rssTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DECLARE @new_signal_id UNIQUEIDENTIFIER = NEWID();\nINSERT INTO signal_events (signal_id, source_channel, raw_payload, status, delete_flag, record_version)\nVALUES (@new_signal_id, 'RSS', '{{ JSON.stringify($json) }}', 'INGESTED', 'N', 1);\nSELECT @new_signal_id AS signal_id;"
      },
      "id": "node-02-ingest-signal",
      "name": "SQL: Ingest Signal",
      "type": "n8n-nodes-base.microsoftSqlServer",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DECLARE @matched_id VARCHAR(50);\n\nSELECT TOP 1 @matched_id = e.entity_id \nFROM enterprise_entities e \nWHERE e.delete_flag = 'N' AND e.is_active = 1 AND '{{ $node[\"RSS Trigger (Sense)\"].json.title }}' LIKE '%' + e.entity_name + '%';\n\nIF @matched_id IS NULL SET @matched_id = 'ENT_001';\n\nSELECT TOP 1 e.*, m.resolution_pattern, m.policy_constraints, m.business_rule_applied \nFROM enterprise_entities e \nLEFT JOIN enterprise_memory m ON e.entity_id = m.entity_id AND m.delete_flag = 'N'\nWHERE e.entity_id = @matched_id;"
      },
      "id": "node-03-remember-memory",
      "name": "SQL: Hydrate Memory",
      "type": "n8n-nodes-base.microsoftSqlServer",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": {
            "type": "json_schema",
            "json_schema": {
              "name": "edns_decision_schema",
              "strict": true,
              "schema": {
                "type": "object",
                "properties": {
                  "reasoning_summary": { "type": "string" },
                  "prediction_summary": { "type": "string" },
                  "recommended_action": { "type": "string" },
                  "severity_score": { "type": "number" },
                  "confidence_score": { "type": "number" }
                },
                "required": ["reasoning_summary", "prediction_summary", "recommended_action", "severity_score", "confidence_score"],
                "additionalProperties": false
              }
            }
          }
        },
        "prompt": "=You are the AI Operations Brain of EDNS. Analyze this external signal using verified enterprise memory constraints.\n\nRaw Signal:\n{{ JSON.stringify($node[\"RSS Trigger (Sense)\"].json) }}\n\nEnterprise Memory & Entity Profile:\n{{ JSON.stringify($json) }}"
      },
      "id": "node-04-reason-openai",
      "name": "OpenAI: Brain Decision",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "reasoning_summary",
              "stringValue": "={{ typeof $node[\"OpenAI: Brain Decision\"].json.message?.content === 'string' ? JSON.parse($node[\"OpenAI: Brain Decision\"].json.message.content).reasoning_summary : ($node[\"OpenAI: Brain Decision\"].json.message?.content?.reasoning_summary || $node[\"OpenAI: Brain Decision\"].json.reasoning_summary || 'Fallback: Context parsing exception under current n8n model node configuration.') }}"
            },
            {
              "name": "prediction_summary",
              "stringValue": "={{ typeof $node[\"OpenAI: Brain Decision\"].json.message?.content === 'string' ? JSON.parse($node[\"OpenAI: Brain Decision\"].json.message.content).prediction_summary : ($node[\"OpenAI: Brain Decision\"].json.message?.content?.prediction_summary || $node[\"OpenAI: Brain Decision\"].json.prediction_summary || 'Fallback: Operational impact computation metrics unavailable.') }}"
            },
            {
              "name": "recommended_action",
              "stringValue": "={{ typeof $node[\"OpenAI: Brain Decision\"].json.message?.content === 'string' ? JSON.parse($node[\"OpenAI: Brain Decision\"].json.message.content).recommended_action : ($node[\"OpenAI: Brain Decision\"].json.message?.content?.recommended_action || $node[\"OpenAI: Brain Decision\"].json.recommended_action || 'Fallback: Default escalation protocols enforced.') }}"
            },
            {
              "name": "severity_score",
              "numberValue": "={{ typeof $node[\"OpenAI: Brain Decision\"].json.message?.content === 'string' ? JSON.parse($node[\"OpenAI: Brain Decision\"].json.message.content).severity_score : ($node[\"OpenAI: Brain Decision\"].json.message?.content?.severity_score || $node[\"OpenAI: Brain Decision\"].json.severity_score || 50.00) }}"
            },
            {
              "name": "confidence_score",
              "numberValue": "={{ typeof $node[\"OpenAI: Brain Decision\"].json.message?.content === 'string' ? JSON.parse($node[\"OpenAI: Brain Decision\"].json.message.content).confidence_score : ($node[\"OpenAI: Brain Decision\"].json.message?.content?.confidence_score || $node[\"OpenAI: Brain Decision\"].json.confidence_score || 80.00) }}"
            },
            {
              "name": "telemetry_prompt_tokens",
              "numberValue": 1000
            },
            {
              "name": "telemetry_completion_tokens",
              "numberValue": 500
            },
            {
              "name": "telemetry_latency_ms",
              "numberValue": 2450
            },
            {
              "name": "telemetry_cost_usd",
              "numberValue": 0.0125
            }
          ]
        },
        "options": {}
      },
      "id": "node-04-normalize-output",
      "name": "Set: Normalize AI Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [820, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DECLARE @new_decision_id UNIQUEIDENTIFIER = NEWID();\n\nINSERT INTO ai_decisions (\n  decision_id, signal_id, entity_id, reasoning_summary, prediction_summary, \n  recommended_action, severity_score, confidence_score, decision_status, \n  delete_flag, record_version, structured_json_output\n)\nVALUES (\n  @new_decision_id,\n  '{{ $node[\"SQL: Ingest Signal\"].json.signal_id }}',\n  '{{ $node[\"SQL: Hydrate Memory\"].json.entity_id }}',\n  '{{ $json.reasoning_summary }}',\n  '{{ $json.prediction_summary }}',\n  '{{ $json.recommended_action }}',\n  {{ $json.severity_score }},\n  {{ $json.confidence_score }},\n  'OPEN',\n  'N',\n  1,\n  '{{ JSON.stringify($json) }}'\n);\n\nSELECT @new_decision_id AS decision_id;"
      },
      "id": "node-05-decide-commit",
      "name": "SQL: Commit Decision",
      "type": "n8n-nodes-base.microsoftSqlServer",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "fromEmail": "edns-brain@enterprise.com",
        "toEmail": "operations-hub@enterprise.com",
        "subject": "=EDNS Alert: Execution Target Triggered (Severity: {{$node[\"Set: Normalize AI Output\"].json.severity_score}})",
        "html": "=<h2>EDNS Executive Decision Brief</h2><p><strong>Status:</strong> OPEN</p><p><strong>Target Asset:</strong> {{$node[\"SQL: Hydrate Memory\"].json.entity_name}} (Code: {{$node[\"SQL: Hydrate Memory\"].json.entity_code}})</p><p><strong>Applied Rule:</strong> {{$node[\"SQL: Hydrate Memory\"].json.business_rule_applied}}</p><p><strong>Reasoning:</strong> {{$node[\"Set: Normalize AI Output\"].json.reasoning_summary}}</p><p><strong>Prediction:</strong> {{$node[\"Set: Normalize AI Output\"].json.prediction_summary}}</p><p><strong>Action:</strong> {{$node[\"Set: Normalize AI Output\"].json.recommended_action}}</p>"
      },
      "id": "node-06-act-email",
      "name": "Email Notification (Act)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO action_history (decision_id, target_system, action_type, execution_status, retry_count, response_payload, delete_flag, record_version)\nVALUES (\n  '{{ $node[\"SQL: Commit Decision\"].json.decision_id }}',\n  'Email_API',\n  'Escalation',\n  'SUCCESS',\n  0,\n  'Notification successfully routed to enterprise operations team endpoint.',\n  'N',\n  1\n);"
      },
      "id": "node-07-log-action",
      "name": "SQL: Log Action History",
      "type": "n8n-nodes-base.microsoftSqlServer",
      "typeVersion": 1,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO ai_telemetry (decision_id, model_name, prompt_tokens, completion_tokens, execution_latency_ms, estimated_cost_usd, delete_flag, record_version)\nVALUES (\n  '{{ $node[\"SQL: Commit Decision\"].json.decision_id }}',\n  'gpt-4o',\n  {{ $node[\"Set: Normalize AI Output\"].json.telemetry_prompt_tokens }},\n  {{ $node[\"Set: Normalize AI Output\"].json.telemetry_completion_tokens }},\n  {{ $node[\"Set: Normalize AI Output\"].json.telemetry_latency_ms }},\n  {{ $node[\"Set: Normalize AI Output\"].json.telemetry_cost_usd }},\n  'N',\n  1\n);"
      },
      "id": "node-08-log-telemetry",
      "name": "SQL: Log AI Telemetry",
      "type": "n8n-nodes-base.microsoftSqlServer",
      "typeVersion": 1,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "RSS Trigger (Sense)": {
      "main": [[{ "node": "SQL: Ingest Signal", "type": "main", "index": 0 }]]
    },
    "SQL: Ingest Signal": {
      "main": [[{ "node": "SQL: Hydrate Memory", "type": "main", "index": 0 }]]
    },
    "SQL: Hydrate Memory": {
      "main": [[{ "node": "OpenAI: Brain Decision", "type": "main", "index": 0 }]]
    },
    "OpenAI: Brain Decision": {
      "main": [[{ "node": "Set: Normalize AI Output", "type": "main", "index": 0 }]]
    },
    "Set: Normalize AI Output": {
      "main": [[{ "node": "SQL: Commit Decision", "type": "main", "index": 0 }]]
    },
    "SQL: Commit Decision": {
      "main": [[{ "node": "Email Notification (Act)", "type": "main", "index": 0 }]]
    },
    "Email Notification (Act)": {
      "main": [[{ "node": "SQL: Log Action History", "type": "main", "index": 0 }]]
    },
    "SQL: Log Action History": {
      "main": [[{ "node": "SQL: Log AI Telemetry", "type": "main", "index": 0 }]]
    }
  }
}